Listas y tuplas

In [1237]:
#Haz una lista llamada colores donde almacenemos los primeros 6 colores que te vengan a la mente.

colores = ["azul", "rojo", "fucsia", "verde", "plateado", "morado"]

In [1238]:
#Haz una lista llamada buses de las líneas de autobuses que pasan por tu casa.
buses = [109, 70, 106]

In [1239]:
#Apunta la previsión de temperaturas máximas para todos los días de esta semana en temperaturas.
temperaturas = [[18,7], [19,9], [18,10], [17,8], [21,10], [23,12], [22,11]]

In [1240]:
#Convierte tu(s) nombre(s) a una lista nombres de caracteres.
nombre= "Andreina"
nombres = list(nombre)
print(nombres)

['A', 'n', 'd', 'r', 'e', 'i', 'n', 'a']

In [1241]:
#Convierte tu(s) apellido(s) a una lista apellidos de caracteres.
apellido = "Teixeira de Franca"
apellidos =list(apellido)
print(apellidos)

['T', 'e', 'i', 'x', 'e', 'i', 'r', 'a', ' ', 'd', 'e', ' ', 'F', 'r', 'a', 'n', 'c', 'a']

In [1242]:
#¿Cuántos búses pasan por tu casa?
print(len(buses))

3

In [1243]:
#¿Cuántos caracteres hay en tu apellido(s) (inluyendo los espacios)?
print(len(apellidos))

18

In [1244]:
#¿Cuáles son las temperaturas máximas (t_max) y mínimas (t_min) para esta semana?
max(temperaturas)

[23, 12]

In [1245]:
#Hay una 'e' en tu nombre?
print(nombre.find("e"))
"e" in nombres

4

True

In [1246]:
#Tienes el color 'rosa' en la lista de colores?
"rosa" in colores

False

In [1247]:
#¿Tiene una 'x' tu nombre? (Usa not in)
"x" not in nombres

True

In [1248]:
#Copia el contenido de temperaturas a temperaturas2, y temperaturas3.
temperaturas2 = temperaturas.copy()
temperaturas3 = temperaturas.copy()
temperaturas3

[[18, 7], [19, 9], [18, 10], [17, 8], [21, 10], [23, 12], [22, 11]]

In [1249]:
#Vacía el contenido de la variable temperaturas2
temperaturas2.clear()
temperaturas2

[]

In [1250]:
#Imprime el contenido de temperaturas y temperaturas2.
print(temperaturas2)
print(temperaturas3)

[]
[[18, 7], [19, 9], [18, 10], [17, 8], [21, 10], [23, 12], [22, 11]]

In [1251]:
#Copia el contenido de nombres a nombres2.
nombres2 = nombres.copy()
nombres2

['A', 'n', 'd', 'r', 'e', 'i', 'n', 'a']

In [1252]:
#Copia el contenido de apellidos a apellidos2.
apellidos2 = apellidos.copy()
apellidos2

['T',
 'e',
 'i',
 'x',
 'e',
 'i',
 'r',
 'a',
 ' ',
 'd',
 'e',
 ' ',
 'F',
 'r',
 'a',
 'n',
 'c',
 'a']

In [1253]:
#Ordena la variable temperaturas3 de mayor a menor.
temperaturas3.sort(reverse=True)
temperaturas3

[[23, 12], [22, 11], [21, 10], [19, 9], [18, 10], [18, 7], [17, 8]]

In [1254]:

#Ordena los caracteres de tu nombre y tu apellido en las listas nombres2 y apellidos2. 
# Imprime el resultado y investiga: ¿qué orden ha cogido? ¿Cómo trata las mayúsculas?
nombres2.sort()
apellidos2.sort()
print(nombres2)
print(apellidos2) #ordena por orden alfabetico, las mayúsculas las coloca primero por orden alfabético

['A', 'a', 'd', 'e', 'i', 'n', 'n', 'r']
[' ', ' ', 'F', 'T', 'a', 'a', 'a', 'c', 'd', 'e', 'e', 'e', 'i', 'i', 'n', 'r', 'r', 'x']

In [1255]:
#¿Cuántas 'a' tiene tu nombre? ¿Y cuántas 'o'?
nombre.count("a")

1

In [1256]:
nombre.count("o")

0

In [1257]:
#Verifica si los resultados de ejercicio 19 son iguales para la lista nombres2.
nombres.count("a") #son iguales

1

In [1258]:
nombres.count("o")

0

In [1259]:
#¿Cuántas veces esta semana llega la temperatura a la t_max? ¿Y cuántas a la t_min?
print(temperaturas.count(max(temperaturas)))

1

In [1260]:
print(temperaturas.count(min(temperaturas)))

1

In [1261]:
#La lista dias_en contiene 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', y 'sunday'.
dias = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]

In [1262]:
#Define temperaturas_diciembre 👇🏽:
temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 
                        12, 11, 13, 17, 18, 15, 
                        15, 17, 17, 13, 13, 11,
                        12, 10, 12, 14, 12, 12,
                        11, 12, 16, 16, 14, 17, 18]

In [1263]:
#>¿Cuál es el penúltimo día de la semana?
dias[-2]

'saturday'

In [1264]:
#¿Cuál es el último elemento de la lista de temperaturas de diciembre?
temperaturas_diciembre[-1]

18

In [1265]:
#¿Está 'friday' en la lista de días en inglés? Si está, ¿dónde?
"friday" in dias

True

In [1266]:
dias.index("friday")

4

In [1267]:
#¿Cuál era la temperatura máxima en diciembre?
max(temperaturas_diciembre)

18

In [1268]:
#Encuentra el índice de 'miércoles' en dias_es.
dias_es = ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"]
dias_es.index("miercoles")

2

In [1269]:
#Imprime esta frase en pantalla: 'La temperatura máxima esta semana será 14 ºC, que ocurrirá en 1 días(s). 
# El día más frío tendrá una temperatura máxima de 10 ºC, que ocurrirá en 2 día(s).
print(f"La temperatura máxima esta semana será {max(temperaturas_diciembre)} grados, que ocurrirá en dia(s). El día más frío tendrá una temperatura máxima de {min(temperaturas_diciembre)}, que ocurriá en dia(s)")

La temperatura máxima esta semana será 18 grados, que ocurrirá en dia(s). El día más frío tendrá una temperatura máxima de 10, que ocurriá en dia(s)

In [1270]:
#Crea una tupla persona1 para juntar los siguientes datos: 61 kg, 1.54 m altura, pelo marrón, sin usar paréntesis. 
# (Serán del tipo int, float y str.)
persona1 = 61, 1.54, "pelo marrón"

In [1271]:
#Crea una tupla para la persona2 de 68 kg, 1.65 m y pelo rubio, usando paréntesis.
persona2 = (68, 1.65, "pelo rubio")

In [1272]:
#Crea una lista talla que recompila 'M', 42, y 39.
talla = ["M", 42, 39]

In [1273]:
#Convierte la lista talla a una tupla.
tuple(talla)

('M', 42, 39)

In [1274]:
#Une a la tupla de persona1 los datos en talla, para tener una única tupla.
persona = persona1 + persona2
persona

(61, 1.54, 'pelo marrón', 68, 1.65, 'pelo rubio')

In [1275]:
#Saca de persona2 el contenido del tercer elemento y llámalo color.
personas = list(persona)
personas[2] = "color"
personas = tuple(personas)
personas

(61, 1.54, 'color', 68, 1.65, 'pelo rubio')

In [1276]:
#¿Cuántos elementos hay ahora en persona1? (Es decir, ¿cuál es su longitud?)
len(persona1)

3

In [1277]:
#Crea las variables peso, altura, color_pelo y llénalas con el contenido de persona1. Imprime color_pelo para comprobar el resultado.
peso = persona1[0]
altura = persona1[1]
color_pelo = persona1[2]
print(color_pelo)

pelo marrón

In [1278]:
#Crea el zip personas con persona1 y persona2.
zip_personas = (persona1, persona2)
print(list(zip_personas))

[(61, 1.54, 'pelo marrón'), (68, 1.65, 'pelo rubio')]

In [1279]:
#¿Cuántas "elementos" tiene personas? ¿Por qué?

In [1280]:
len(personas) #3 elementos de cada lista

6

In [1281]:
#Crea una tupla etiquetas con 'peso', 'altura', y 'color_pelo'.
etiquetas = peso, altura, color_pelo
etiquetas

(61, 1.54, 'pelo marrón')

In [1282]:
#Crea al zip de etiquetas, persona1, y persona2, llamado "todo".
todo = zip(etiquetas, persona1, persona2)
print(list(todo))

[(61, 61, 68), (1.54, 1.54, 1.65), ('pelo marrón', 'pelo marrón', 'pelo rubio')]

In [1283]:
#Ordena las propiedades de la variable personas alfabéticamente. ¿Puedes? ¿Por qué?
personas.sort() # no se puede, hay varios tipos de datos

AttributeError: 'tuple' object has no attribute 'sort'

Diccionarios y sets

In [ ]:

#Crea el diccionario festivos con las fechas como claves y los nombres como valores: 
# 01/01: Año Nuevo, 06/01: Epifanía del Señor, 15/04: Viernes Santo, 
# 15/08: Asunción de la Virgen, 12/10: Fiesta Nacional de España, 
# 01/11: Todos los Santos, 06/12: Día de la Constitución Española, 
# y 08/12: Inmaculada Concepción.
festivos = {"01/01" : "Año Nuevo", "06/01": "Epifanía del Señor", "15/04": "Viernes Santo", "15/08": "Asunción de la Virgen", "12/10": "Fiesta Nacional de España", "01/11": "Todos los Santos", "06/12": "Día de la Constitución Española","08/12": "Inmaculada Concepción"}
festivos

{'01/01': 'Año Nuevo',
 '06/01': 'Epifanía del Señor',
 '15/04': 'Viernes Santo',
 '15/08': 'Asunción de la Virgen',
 '12/10': 'Fiesta Nacional de España',
 '01/11': 'Todos los Santos',
 '06/12': 'Día de la Constitución Española',
 '08/12': 'Inmaculada Concepción'}

In [ ]:
#Crea el diccionario monarcas con los países como claves y los nombres como valores: 
# Bélgica: Philippe, Dinamarca: Margrethe II, Holanda: Beatrix, Noruega: Harald V, España: Felipe VI, Reino Unido: Carlos III
monarcas = {"Bélgica": "Philippe", "Dinamarca": "Margrethe II", "Holanda": "Beatrix", "Noruega": "Harald V", "España": "Felipe VI", "Reino Unido": "Carlos III"}
monarcas

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Beatrix',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': 'Carlos III'}

In [ ]:
#¿Qué festivo hay el 15/04?
festivos.get("15/04")

'Viernes Santo'

In [ ]:
#La reina 'Beatrix' abdicó, ahora es el rey 'Willem-Alexander'. Actualiza el dict.
nuev = {"Holanda": "Willem-Alexander"}
monarcas.update(nuev)
monarcas

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': 'Carlos III'}

In [ ]:
#El rey de Luxemburgo se llama Henri. Añadelo al dict usando .update().
nuevo = {"Luxemburgo":"Henri"}
monarcas.update(nuevo)
monarcas

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': 'Carlos III',
 'Luxemburgo': 'Henri'}

In [ ]:
#¿Cuántos países están definidos en monarcas?
len(monarcas)

7

In [ ]:
#¿Es 'Monaco' uno de ellos?
"monaco" in monarcas

False

In [ ]:
#¿Es verdad que nos olvidamos de poner 'Suecia'? Compruébalo de una manera en que obtengas un True o False.
"suecia" not in monarcas

True

In [ ]:
#Saca una lista de todos los países en el dict monarcas.
list(monarcas.keys())

['Bélgica',
 'Dinamarca',
 'Holanda',
 'Noruega',
 'España',
 'Reino Unido',
 'Luxemburgo']

In [ ]:
#Saca una lista de los nombres de los festivos.
list(festivos.values())

['Año Nuevo',
 'Epifanía del Señor',
 'Viernes Santo',
 'Asunción de la Virgen',
 'Fiesta Nacional de España',
 'Todos los Santos',
 'Día de la Constitución Española',
 'Inmaculada Concepción']

In [ ]:
#Imprime el diccionario de festivos.
print(festivos)

{'01/01': 'Año Nuevo', '06/01': 'Epifanía del Señor', '15/04': 'Viernes Santo', '15/08': 'Asunción de la Virgen', '12/10': 'Fiesta Nacional de España', '01/11': 'Todos los Santos', '06/12': 'Día de la Constitución Española', '08/12': 'Inmaculada Concepción'}

In [ ]:
#Imprime una lista de tuplas de todos los elementos que hay en festivos.
print(list(festivos.items()))

[('01/01', 'Año Nuevo'), ('06/01', 'Epifanía del Señor'), ('15/04', 'Viernes Santo'), ('15/08', 'Asunción de la Virgen'), ('12/10', 'Fiesta Nacional de España'), ('01/11', 'Todos los Santos'), ('06/12', 'Día de la Constitución Española'), ('08/12', 'Inmaculada Concepción')]

In [ ]:
#Copia monarcas a monarcas2010.
monarcas2010 = monarcas.copy()
monarcas2010

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'España': 'Felipe VI',
 'Reino Unido': 'Carlos III',
 'Luxemburgo': 'Henri'}

In [ ]:
#Quita España de monarcas2010.
monarcas2010.pop("España")
monarcas2010

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'Reino Unido': 'Carlos III',
 'Luxemburgo': 'Henri'}

In [ ]:
#Quita el último elemento de monarcas2010.
monarcas2010.popitem()
monarcas2010

{'Bélgica': 'Philippe',
 'Dinamarca': 'Margrethe II',
 'Holanda': 'Willem-Alexander',
 'Noruega': 'Harald V',
 'Reino Unido': 'Carlos III'}

In [ ]:
#Vacia el dict monarcas2010.
monarcas2010.clear()
monarcas2010

{}

In [ ]:
#¿Qué festivo hay el 06/01?
festivos.get("06/01")

'Epifanía del Señor'

In [ ]:
#Obten el festivo que haya el 08/03, y en su defecto devuélve 'Día Internacional de la Mujer'.
festivos.get("08/03", "Día Internacional de la Mujer")

'Día Internacional de la Mujer'

In [ ]:
#Obten el festivo que haya el 31/11,
#  y si no existe crea un par de clave-valor nuevo con el valor de 'Todos los Santos'.
festivos.setdefault("31/11", "Todos los Santos")

'Todos los Santos'

In [ ]:

festivos

{'01/01': 'Año Nuevo',
 '06/01': 'Epifanía del Señor',
 '15/04': 'Viernes Santo',
 '15/08': 'Asunción de la Virgen',
 '12/10': 'Fiesta Nacional de España',
 '01/11': 'Todos los Santos',
 '06/12': 'Día de la Constitución Española',
 '08/12': 'Inmaculada Concepción',
 '31/11': 'Todos los Santos'}

In [ ]:
#Define la lista

temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 
                          12, 11, 13, 17, 18, 15, 
                          15, 17, 17, 13, 13, 11,
                          12, 10, 12, 14, 12, 12,
                          11, 12, 16, 16, 14, 17, 18]

In [ ]:
#Conviértala en un set llamado diciembre.
diciembre =set(temperaturas_diciembre)

In [ ]:
#Piensa en 6 colores y almacenalos en un set llamado colores.
colores2 =set(colores)

In [ ]:
#Añade 'lila' a colores.
colores2.add("lila")
colores2

{'azul', 'fucsia', 'lila', 'morado', 'plateado', 'rojo', 'verde'}

In [ ]:
#Añade 'azul', 'rojo', y 'granate' a colores usando .update().
actualizacion = ["azul", "rojo", "granate"]
colores2.update(actualizacion)

In [ ]:
#Tu set de colores, ¿tiene 'verde'?
"verde" in colores2

True

In [ ]:
#¿Y tiene 'ROJO'?
"ROJO" in colores2

False

In [ ]:
#Define el set enero para que sea igual a diciembre.
temperaturas_enero = [10, 10, 13, 14, 12, 15, 
                          12, 11, 13, 17, 18, 15, 
                          15, 17, 17, 13, 13, 11,
                          12, 10, 12, 14, 12, 12,
                          11, 12, 16, 16, 14, 17, 18]
enero = set(temperaturas_enero)
enero

{10, 11, 12, 13, 14, 15, 16, 17, 18}

In [ ]:
#Quita las temperaturas 17, y 18 de enero.
enero.remove(18) #da error si lo corro de nuevo (ya 17, 18 no existen)
print(enero)

{10, 11, 12, 13, 14, 15, 16}

In [ ]:
#¿Cuántas temperaturas distintas había en diciembre?
diciembre.difference()

{10, 11, 12, 13, 14, 15, 16, 17, 18}

In [ ]:
#¿Y cuántas en enero?
enero.difference()

{10, 11, 12, 13, 14, 15, 16}

In [ ]:
#Identifica los elementos que hay en diciembre que no están en enero.
diciembre - enero

{17, 18}

In [ ]:
#Identifica los elementos que hay en enero que no están en diciembre.
enero - diciembre

set()

In [ ]:
#Identifica los elementos que tienen en común diciembre y enero.
diciembre.intersection(enero)

{10, 11, 12, 13, 14, 15, 16}

In [ ]:
#Identifica la diferencia simétrica de colores y {'marrón','amarillo','cyan'}. ¿Qué significa este resultado?
colores2 ^ {'marrón','amarillo','cyan'} #no tienen nada en común

{'amarillo',
 'azul',
 'cyan',
 'e',
 'fucsia',
 'g',
 'granate',
 'j',
 'l',
 'lila',
 'marrón',
 'morado',
 'n',
 'o',
 'plateado',
 'r',
 'rojo',
 't',
 'u',
 'verde',
 'z'}

In [ ]:
#¿Son disjoint diciembre y enero? ¿Por qué (no)?
diciembre.isdisjoint(enero) #tienen elementos en común

False

In [ ]:
#¿Es {'rojo','azul'} un superset de colores?
{'rojo','azul'}.issuperset(colores2)

False

In [ ]:
#¿Y un subset?
{'rojo','azul'}.issubset(colores2)

True